*     {
        margin: 0;
      }
      
      .content  {
                margin-top: 2%;
                }
      
      .wrapper  {
                width: 80%;
                margin: auto;
                }
      
      header img  {
                  width: 60px;
      
                  float: left;
                  }
      
      header h1 {
                margin-left: 6%;
                }
      
      nav {
          clear: both;
          }
      
      nav ul  {
              margin-top: 4%;
              }
      
      section {
              margin-top: 2%;
              }
      
      footer  {
              margin: 3%;
              text-align: center;
              }
      
      section p {
                margin-top: 2%;
                }
      
      #apel {
            font-family: Arial, Helvetica, sans-serif;
            }
      
      .simpulan {
                font-family: "Times New Roman", Times, serif;
                font-size: 25px;
                }
      
      .warna  {
              background: cornflowerblue;
              }
      
      .jenis  {
              font-style: italic;
              }
      
      #jeruk  {
              font-family: Arial, Helvetica, sans-serif;
              margin-bottom: 2%;
              }
      
      .akhir  {
              font-family: "Times New Roman", Times, serif;
              font-size: 25px;
              }
      
      .kotak  {
              background: deepskyblue;
              }
      
      .bentuk {
              font-style: italic;
              }
      
      #mangga {
              font-family: Arial, Helvetica, sans-serif;
              margin-bottom: 2%;
              }
      
      .bebas  {
              font-family: "Times New Roman", Times, serif;
              font-size: 25px;
              }
      
      .pure {
            background: cyan;
            }
      
      .italic {
              font-style: italic;
              }
      
      #pisang {
              font-family: Arial, Helvetica, sans-serif;
              margin-bottom: 2%;
              }
      
      .titik  {
              font-family: "Times New Roman", Times, serif;
              font-size: 25px;
              }
      
      .koma {
        background: deepskyblue;
      }
      
      .seru {
            font-style: italic;
            }
      
      .blue {
            background: skyblue;
            }
      
      .tabel  {
              background: cornflowerblue;
              }
      
      .kiloan {
              background: cornflowerblue;
              }
      
      a {
        text-decoration: none;
        }
      
      ul  {
          font-family: Arial, Helvetica, sans-serif;
          background: whitesmoke;
          list-style: none;
          margin: 10;
          padding: 0;
          }
      
      ul li {
            color: #fff;
            background: skyblue;
            display: inline-block;
            border: 1px azure;
      
            padding: 10px;
            position: relative;
            text-decoration: none;
            }
      
      ul li a {
        color: #fff;
      }
      
      ul li:hover {
                  background: dodgerblue;
                  cursor: pointer;
                  }
      
      ul li ul  {
                background: skyblue;
                visibility: hidden;
                position: absolute;
                margin-top: 0.5rem;
                left: 0;
                display: none;
                }
      
      ul li:hover > ul,
      ul li ul:hover  {
                      visibility: visible;
                      display: block;
                      }
      
      ul li ul li {
                  clear: both;
                  width: 100%;
                  }
      
      @media only screen and (max-width: 600px) {
        body  {
              background: whitesmoke;
              }
      }